@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

.navfull{
    height: 40vh;
    background-image: url('./img/nav.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.nav-brand img{
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 50px;
}
.navbar{
  margin:auto;
  border-radius: 30px;
}
 .link{
    font-family: "Rufina", serif;
    font-size: 25px;
    text-decoration: none;
    color: brown;
    transition: 0.5s;
 }
 .link:hover{
    font-family: "Rufina", serif;
    font-weight: 500px;
   
    font-size: 35px;
    color: brown;
    text-shadow: 5px 5px 10px rgb(255, 135, 135);
    text-decoration: underline;
    transition: 0.5s;
 }